<html>
<head>
  <link rel="stylesheet" href="/css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" id="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
  {% if project %}
    <div class="project-header box-shadow">
      <h1 class="project-header__title">
        <form action="{{ project.uri }}" method="get" class="project-header__form">
          {% if q or showBackButton %}<a class="project-header__back" href="{{ project.uri }}" title="Back" box="2">&lsaquo;</a>{% endif %}
          <input name="q" placeholder="{{ project.name }}" value="{{ q }}" box="2" autocomplete="off">
          <button class="button visually-hidden">Go</button>
        </form>
      </h1>
      <ul class="user-stack" box="2">
        {% for user in project.users %}
          <li><a href="#" class="user-initials" title="{{ user.name }}" style="background: {{ user.color }};">{{ user.initials }}</a></li>
        {% endfor %}
        <li><a class="user-initials empty" href="/projects/{{ project.id }}/invite">+</a></li>
      </ul>
    </div>
  {% else %}
    <div class="project-header box-shadow" box="2">
      <h2 class="project-header__title">All projects</h1>
    </div>
  {% endif %}
  <div class="project-header__guard">
    {% block content %}{% endblock %}
  </div>
  <script src="/js/app.js"></script>
</body>
</html>
