{% extends "app" %}

{% block content %}
<ul>
  {% for project in projects %}
    <li class="">
      <a href="{{ project.uri }}" class="project-preview box-shadow" spacing box>
        <p>{{ project.name }} ({{ project.cards().count }})</p>
        <ul class="stacks-preview clearfix">
          {% for stack in project.stacks %}
            <li class="stack-preview" box style="height: {{ stack.size()*100 }}%">{{ stack.name }}</li>
          {% endfor %}
        </ul>
      </a>
    </li>
  {% endfor %}
</ul>

<form action="/projects" method="post">
  {{ csrf_field() }}
  <input type="text" name="project[name]" />
  <button>Create project</button>
</form>
{% endblock %}
