{% extends "app" %}

{% set firstVisible = true %}

{% block content %}
<div class="page">
  <div class="filter">
    <p class="meta">Group by
      <strong><a {{ method == 'stacks' ? 'class="active"' : '' }} href="{{ project.uri }}{{ q ? '?q=' ~ q : '' }}">Stack</a></strong>,
      <strong><a {{ method == 'tags' ? 'class="active"' : '' }} href="{{ project.uri }}/tags{{ q ? '?q=' ~ q : '' }}">Tags</a></strong>,
      <strong><a {{ method == 'users' ? 'class="active"' : '' }} href="{{ project.uri }}/users{{ q ? '?q=' ~ q : '' }}">Users</a></strong>, or
      <strong><a {{ method == 'milestones' ? 'class="active"' : '' }} href="{{ project.uri }}/milestones{{ q ? '?q=' ~ q : '' }}">Milestones</a></strong>
    </p>
  </div>
  <div class="stacks" spacing="4">
    {% for stack in stacks %}
      {% set cards = stack.search(q) %}
      {% set isFirstVisible = cards.count > 0 and firstVisible == true %}
      {% if isFirstVisible %}
        {% set firstVisible = false %}
      {% endif %}
      <div class="stack {{ cards.count == 0 ? 'empty' }} {{ isFirstVisible ? 'first-visible' }}" spacing="2">
        <h1 class="stack__header">
          <a href="{{ stack.uri }}">{{ stack.name }} <span class="meta">({{ cards.count }})</span></a>
          <small class="meta"><a href="{{ stack.uri }}/cards/create">Add card</a></small>
        </h1>
        <ul class="card-stack" spacing data-stack-attributes='{"{{ stack.getSearchKey() }}": {{ stack.id }}}'>
          {% for card in cards %}
            <li>
              {% include "card/_card" with {"card": card} only %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    <form class="stack" action="/projects/{{ project.id }}/stacks" method="post">
      {{ csrf_field() }}
      <div spacing="2">
        <h1 class="stack__header">
          <label for="new-stack-name">Add a new stack&hellip;</label>
        </h1>
        <div spacing box class="create-form">
          <p><input id="new-stack-name" class="create-form__input user-input" type="text" name="stack[name]" placeholder="Stack name..." box /></p>
          <p><button class="button">Save Stack</button></p>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
