{% extends "app" %}

{% block content %}
<div class="page">
  <div class="stacks">
    {% for stack in project.stacks %}
      <div class="stack" spacing>
        <h1 class="stack__header box-shadow" box style="background-color:#{{ stack.color }};">
          {{ stack.name }}
          <small><a href="/projects/{{ project.id }}/stacks/{{ stack.id }}/cards/create">Add card</a></small>
        </h1>
        <ul spacing>
          {% for card in stack.cards %}
            <li>
              <a class="card box-shadow" box href="{{ card.uri }}" spacing>
                <p class="card__title">{{ card.title }}</p>
                <p class="card__description">{{ card.description[0:75]|trim }}&hellip;</p>
                {% for attachment in card.cardAndCommentAttachments() %}
                  {{ dump(attachment) }}
                {% endfor %}
                {% if card.comments.count or card.asignees.count %}
                  <hr>
                  <div class="meta clearfix">
                    <p class="card__assignees">{{ card.assignees.pluck('user.name').implode(', ') }}</p>
                    <p class="card__comments">{{ card.comments.count }}</p>
                  </div>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    <div class="stack new" box="2">
      <form action="/projects/{{ project.id }}/stacks" method="post">
        {{ csrf_field() }}
        <input type="text" name="stack[name]" />
        <button>Save Stack</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
