{% extends "app" %}

{% block content %}
<div class="page">
  <div class="stacks">
    {% for stack in project.stacks %}
      <div class="stack" spacing="2">
        <h1 class="stack__header">
          {{ stack.name }} <span class="stack__header__light">({{ stack.cards.count }})</span>
          <small class="stack__header__light"><a href="/projects/{{ project.id }}/stacks/{{ stack.id }}/cards/create">Add card</a></small>
        </h1>
        <ul spacing>
          {% for card in stack.cards %}
            <li>
              <a class="card {{ card.hot ? 'hot' }} box-shadow" box href="{{ card.uri }}">
                <div spacing>
                  <p class="card__title">{{ card.title }}</p>
                  {% if card.description %}<p class="card__description">{{ card.description[0:75]|trim }}{{ card.description|length > 75 ? '&hellip;' }}</p>{% endif %}
                  {% for attachment in card.allAttachments() %}
                    <img src="http://placehold.it/32x32">
                  {% endfor %}
                  {% if card.assignees.count %}
                    <div class="meta clearfix">
                      <p class="card__assignees">&rarr; {{ card.assignees.pluck('user.name').implode(', ') }}</p>
                      {#<p class="card__comments">{{ card.comments.count }}</p>#}
                    </div>
                  {% endif %}
                </div>
                {% if card.countAllTasks > 0 %}
                <p class="progress"><span class="progress__bar" style="width: {{ card.percentAllTasksComplete*100 }}%">{{ card.percentAllTasksComplete }}</span></p>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
    <div class="stack new" box="2">
      <form action="/projects/{{ project.id }}/stacks" method="post">
        {{ csrf_field() }}
        <input type="text" name="stack[name]" />
        <button>Save Stack</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
