{% extends "app" %}

{% block content %}
<div class="layout-split-2--detail page-alt">
  <div class="column">
    <div class="card-detail box-shadow" box="2" spacing="4">
      <div spacing>
        <h1 class="card-detail__title">
          <span>{{ card.title }}</span>
        </h1>
        <div class="card-detail__description longform" data-id="{{ card.id }}">
          {{ card.description|markdown }}
        </div>
      </div>
      {% if card.comments.count %}
        <ul spacing="3">
          {% for comment in card.comments %}
            <li class="comment-detail" id="comment{{ comment.id }}" spacing data-id="{{ comment.id }}">
              <div spacing="0.25">
                <div class="byline">{{ comment.user.name }}</div>
                <div class="meta">
                  Posted <strong><a href="#comment{{ comment.id }}">{{ comment.created_at.diffForHumans }}</a></strong>
                  {% if comment.meta %}
                    <ul class="comment-meta meta">
                      {% for change in comment.meta %}
                        <li class="comment-meta__item">
                          {{ change.label }}
                          {% for added in change.added %}
                            <strong class="comment-meta__added">+{{ added.label }}</strong>
                          {% endfor %}
                          {% for removed in change.removed %}
                            <span class="comment-meta__removed">-{{ removed.label }}</span>
                          {% endfor %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </div>
              </div>
              <div class="longform">
                {{ comment.content|markdown }}
              </div>
              {% if comment.attachments.count %}
                <div>
                  {% for attachment in comment.attachments %}
                    <a href="{{ attachment.uri }}"><img src="{{ attachment.uri }}/thumb?s=32"></a>
                  {% endfor %}
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      <form action="{{ card.uri }}/comments" method="post" enctype="multipart/form-data">
        {{ csrf_field() }}
        <input type="hidden" name="card[complete]" value="{{ card.complete ? 1 : 0 }}">
        {% if errors.count > 0 %}
          {{ dump(errors) }}
        {% endif %}
        <div spacing="2">
          <div spacing>
            <div class="user-input">
              <textarea class="invisible-textarea" name="comment[content]" placeholder="Leave a comment..." box></textarea>
              <p class="file-input" box><input class="comment-form__upload" type="file" name="comment[attachment][]" multiple></p>
            </div>
            <div class="box-shadow" box>
              <input type="checkbox" id="show-card-edit" class="show-card-edit visually-hidden">
              <p class="card-prompt"><label for="show-card-edit" class="text-button">Edit card details&hellip;</label></p>
              <div class="card-edit" spacing>
                <div spacing="0.5">
                  <p><label class="label">Stack</label></p>
                  <ul class="stack-chooser clearfix">
                    {% for stack in card.stack.project.stacks %}
                      <li class="stack-chooser__item checkbox-pill"><input type="radio" id="stack-{{ stack.id }}" name="card[stack_id]" value="{{ stack.id }}" {{ card.stack.id == stack.id ? 'checked' }}> <label for="stack-{{ stack.id }}">{{ stack.name }}</label></li>
                    {% endfor %}
                  </ul>
                </div>
                <div spacing="0.5">
                  <p><label class="label">Assignee</label></p>
                  <ul>
                    {% for user in card.stack.project.users %}
                      <li class="inline-pills checkbox-pill"><input type="checkbox" id="assignee-{{ user.id }}" name="card[assignee_id][]" value="{{ user.id }}" {{ user.id in card.assignees.pluck('id').toArray() ? 'checked' }}><label for="assignee-{{ user.id }}">{{ user.name }}</label></li>
                    {% endfor %}
                  </ul>
                </div>
                <div spacing="0.5">
                  <p><label for="tags" class="label">Tags</label></p>
                  <p><input type="text" name="card[tags]" value="{{ card.tag_string }}" box="0.5" class="user-input clear">
                </div>
              </div>
            </div>
          </div>
          <div spacing>
            <p class="clearfix">
              <button class="button" class="comment-form__submit">Leave comment</button>
              {% if card.complete %}
                <button class="button plain" class="comment-form__submit" name="card[complete]" value="0">Re-open card</button>
              {% else %}
                <button class="button plain" class="comment-form__submit" name="card[complete]" value="1">Complete card</button>
              {% endif %}
            </p>
            <p class="meta">A notification will be sent to {{ card.followers.pluck('user.name').implode(', ') }}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="column" box="2" spacing="2">
    <h2 class="card-detail__sub-head">Details</h2>
    <ul spacing>
      <li class="meta clearfix layout-split-2--meta">
        <span class="column box-r-10 text-align-right">Id </span>
        <span class="column">#<strong>{{ card.local_id }}</strong></span>
      </li>
      <li class="meta clearfix layout-split-2--meta">
        <span class="column box-r-10 text-align-right">By </span>
        <span class="column"><strong>{{ card.user.name }}</strong></span>
      </li>
      <li class="meta clearfix layout-split-2--meta">
        <span class="column box-r-10 text-align-right">Created </span>
        <span class="column"><strong>{{ card.created_at.toDayDateTimeString }}</strong></span>
      </li>
      <li class="meta clearfix layout-split-2--meta">
        <span class="column box-r-10 text-align-right">Time since </span>
        <span class="column"><strong>{{ card.created_at.diffForHumans }}</strong></span>
      </li>
      {% if card.countAllTasks > 0 %}
        <li class="meta clearfix layout-split-2--meta">
          <span class="column box-r-10 text-align-right">Completed </span>
          <span class="column"><strong>{{ (card.percentAllTasksComplete * 100)|number_format }}%</strong></span>
        </li>
      {% endif %}
      {% if card.assignees.count %}
        <li class="meta clearfix layout-split-2--meta">
          <span class="column box-r-10 text-align-right">&rarr; Assigned to </span>
          <span class="column"><strong>{{ card.assignees.link('label', 'user.uri').wrap('strong').implode(', ')|raw }}</strong></span>
        </li>
      {% endif %}
      {% if card.tags.count %}
        <li class="meta clearfix layout-split-2--meta">
          <span class="column box-r-10 text-align-right">&#x2691; Tagged </span>
          <span class="column"><strong>{{ card.tags.pluck('label').implode(', ') }}</strong></p></span>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
