{% extends "app" %}

{% block content %}
<div class="card-detail box-shadow" box="2" spacing="2">
  <h1 class="card-detail__title" spacing>
    <span>{{ card.title }}</span>
    <small class="meta">By <strong>{{ card.user.name }}</strong> on <strong>{{ card.created_at.toDayDateTimeString }}</strong></small>
  </h1>
  <div class="card-detail__description longform">
    {{ card.description|markdown }}
  </div>
  <hr>
  <ul class="card-detail__meta">
    <li>Assigned: {{ card.assignees.link('user.name', 'user.uri').wrap('strong').implode(', ')|raw }}</li>
    <li>Followers: {{ card.followers.link('user.name', 'user.uri').wrap('strong').implode(', ')|raw }}</li>
    <li>Stack: <strong>{{ card.stack.name }}</strong></li>
  </ul>
  {% if card.comments.count %}
  <hr>
    <ul spacing="2">
      {% for comment in card.comments %}
        <li spacing>
          {{ comment.content|markdown }}
          <p class="meta">By <strong>{{ comment.user.name }}</strong> {{ comment.created_at.diffForHumans }}</p>
          {% if comment.attachments.count %}
            <div>
              {% for attachment in comment.attachments %}
                <img src="http://placehold.it/50x50">
                {{ attachment.link }}
              {% endfor %}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <hr>
  <form action="/cards/{{ card.id }}/comments" method="post" enctype="multipart/form-data">
    {{ csrf_field() }}
    <textarea class="invisible-textarea" name="comment[content]" placeholder="Leave a new comment..." required></textarea>
    <input class="on-previous-active" type="file" name="comment[attachment][]">
    <button class="on-previous-active">Leave comment</button>
  </form>
</div>
{% endblock %}
