{% extends "app" %}

{% block content %}
<div class="layout-split-2--detail page-alt">
  <div class="column">
    <div class="card-detail box-shadow" box="2" spacing="4">
      {% cache [card.cacheKey, 'detail'] %}
        <div spacing>
          <h1 class="alpha">
            <span>{{ card.title }}</span>
          </h1>
          <div class="card-detail__description longform" data-id="{{ card.id }}">
            {{ card.description|markdown }}
          </div>
        </div>
        {% if card.comments.count %}
          <ul spacing="3">
            {% for comment in card.comments %}
              <li class="comment-detail" id="comment{{ comment.id }}" spacing data-id="{{ comment.id }}">
                {% cache comment.cacheKey %}
                  <div spacing=".25">
                    <div class="byline">{{ comment.user.name }}</div>
                    <div class="meta">
                      Posted <strong><a href="#comment{{ comment.id }}">{{ comment.created_at.diffForHumans }}</a></strong>
                      {% if comment.meta %}
                        <ul class="comment-meta meta">
                          {% for change in comment.meta %}
                            <li class="comment-meta__item">
                              {{ change.label }}
                              {% for added in change.added %}
                                <strong class="comment-meta__added">+{{ added.label }}</strong>
                              {% endfor %}
                              {% for removed in change.removed %}
                                <span class="comment-meta__removed">-{{ removed.label }}</span>
                              {% endfor %}
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                  </div>
                  <div class="longform">
                    {{ comment.content|markdown }}
                  </div>
                  {% if comment.attachments.count %}
                    <div>
                      {% for attachment in comment.attachments %}
                        <a href="{{ attachment.uri }}"><img src="{{ attachment.uri }}/thumb?s=32"></a>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endcache %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endcache %}
      <form action="{{ card.uri }}/comments" method="post" enctype="multipart/form-data">
        {{ csrf_field() }}
        <input type="hidden" name="card[complete]" value="{{ card.complete ? 1 : 0 }}">
        {% if errors.count > 0 %}
          {{ dump(errors) }}
        {% endif %}
        <div spacing="2">
          <div spacing>
            <div class="user-input">
              <textarea class="invisible-textarea" name="comment[content]" placeholder="Leave a comment..." box></textarea>
              <p class="file-input" box><input class="comment-form__upload" type="file" name="comment[attachment][]" multiple></p>
            </div>
            <div class="box-shadow card-proxy" box>
              <input type="checkbox" id="show-card-edit" class="show-card-edit visually-hidden">
              <p class="card-prompt"><label for="show-card-edit" class="text-button">Edit card details&hellip;</label></p>
              <div class="card-edit" spacing="2">
                {% include "card/_settings.twig" %}
              </div>
            </div>
          </div>
          <div spacing>
            <p class="clearfix">
              <button class="button" class="comment-form__submit">Leave comment</button>
              {% if card.complete %}
                <button class="button plain" class="comment-form__submit" name="card[complete]" value="0">Re-open card</button>
              {% else %}
                <button class="button plain" class="comment-form__submit" name="card[complete]" value="1">Complete card</button>
              {% endif %}
            </p>
            <p class="meta">
              {% cache [card.cacheKey, 'followers'] %}
                {% if card.followers.count > 0 %}
                  A notification will be sent to {{ card.followers.pluck('user.label').implode(', ') }}.
                {% endif %}
              {% endcache %}
              {% cache [card.cacheKey, 'followed-by', me.id] %}
                {% if card.followers.pluck('user.id').contains(me.id) %}
                  <strong><a href="{{ card.uri }}/unfollow">Unfollow</a></strong>
                {% else %}
                  <a href="{{ card.uri }}/follow"><strong>Follow</strong> this card for instant notifications</a>
                {% endif %}
              {% endcache %}
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="column" box="2" spacing="2">
    {% cache card.cacheKey ~ "-sidebar" %}
    <h2 class="card-detail__sub-head">Details</h2>
    <ul spacing>
      <li class="meta clearfix layout-split-2--meta">
        <span class="column box-r-10 text-align-right">Id </span>
        <span class="column">#<strong>{{ card.local_id }}</strong></span>
      </li>
      <li class="meta clearfix layout-split-2--meta">
        <span class="column box-r-10 text-align-right">By </span>
        <span class="column"><strong>{{ card.user.name }}</strong></span>
      </li>
      <li class="meta clearfix layout-split-2--meta">
        <span class="column box-r-10 text-align-right">Created </span>
        <span class="column"><strong>{{ card.created_at.toDayDateTimeString }}</strong></span>
      </li>
      <li class="meta clearfix layout-split-2--meta">
        <span class="column box-r-10 text-align-right">Time since </span>
        <span class="column"><strong>{{ card.created_at.diffForHumans }}</strong></span>
      </li>
      {% if card.countAllTasks > 0 %}
        <li class="meta clearfix layout-split-2--meta">
          <span class="column box-r-10 text-align-right">Completed </span>
          <span class="column"><strong>{{ (card.percentAllTasksComplete * 100)|number_format }}%</strong></span>
        </li>
      {% endif %}
      {% if card.assignees.count %}
        <li class="meta clearfix layout-split-2--meta">
          <span class="column box-r-10 text-align-right">&rarr; Assigned to </span>
          <span class="column"><strong>{{ card.assignees.link('label', 'user.uri').wrap('strong').implode(', ')|raw }}</strong></span>
        </li>
      {% endif %}
      {% if card.tags.count %}
        <li class="meta clearfix layout-split-2--meta">
          <span class="column box-r-10 text-align-right">&#x2691; Tagged </span>
          <span class="column"><strong>{{ card.tags.pluck('label').implode(', ') }}</strong></p></span>
        </li>
      {% endif %}
    </ul>
    {% endcache %}
  </div>
</div>
{% endblock %}
